.container-top50 {
    margin-top: 50px;
}

.line-o {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 0.875em;
    margin-top: 2em;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.line-o::after {
    border-bottom: 1px solid #DFE0E6;
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    width: 100%;
    z-index: -2;
}

.line-o::before {
    width: 40px;
    height: 10px;
    background-color: #FFF;
    content: "";
    margin: -5px 0px 0px -20px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
}