<div class="btn-group open">
    <button id="w3" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-menu-hamburger"></i>  <span class="caret"></span></button>

    <!--<ul id="w4" class="dropdown-menu">
        <li role="presentation"><a href="#" onclick="vistaPrevia(1463431)"><i class="fa fa-eye"></i>  Ver comprobante</a></li>
        <li role="presentation"><a href="/panelsandbox/comprobante/imprimir/1463431" data-pjax="0" target="_blank"><i class="fa fa-print"></i>  Imprimir comprobante</a></li>
        
    </ul>-->
</div>
